:root {
  --primary-brand: #ff0a0a;
  --pressed-state: #f312dc;
  --dark: #0b0b0b;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --anim-fast: 250ms ease-in;
  --anim-fas: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


*,
*::before,
* ::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

/* body */
body {
  color: var(--text);
  background-color: var(--white-background);
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;

}

/* 
.container {
  
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
} */

.container {
  width: 100%;
  max-width: 1159px;
  /* Максимальна ширина для більших екранів */
  margin: 0 auto;
  /* Центрує контейнер на екрані */
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1159px) {
  .container {
    max-width: 1158px;
  }
}


@media screen and (max-width: 375px) {
  .header {
    padding-top: 0;
    padding-bottom: 0;
    width: 375px;
  }
}




.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* tablet */
@media only screen and (min-width: 768px) {
  .container.main-nav {
    height: 72px;
  }
}

/* dectop */
@media only screen and (min-width: 1158px) {
  .container.main-nav {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
}


@media only screen and (max-width: 767px) {
  .nav {

    display: none;
  }
}



/* @media only screen and (max-width: 767px) {
  .hero-title {
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
  }
} */


@media screen and (min-width: 1158px) {
  .header {

    /* margin-top: 75px; */
    width: 100%;

    z-index: 100;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgb(222 31 213 / 8%), 0px 1px 1px rgb(195 26 216 / 16%), 0px 1px 6px rgb(164 62 166 / 8%);
  }
}

/* .nav {
  height: 72px;
  display: flex;
  align-items: center;
  margin-right: auto;
  gap: 40px;
} */

.section-one {
  height: 72px;
  display: flex;
  align-items: center;
  margin-right: auto;
  gap: 40px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.nav-link {
  font-family: 'Raleway', Arial, sans-serif;
  color: var(--dark);
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color var(--anim-fas);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-state);
}


.address {
  display: block;
  font-style: normal;
  flex-direction: inherit;
}

.info-link {
  color: var(--dark);
  font-family: 'Raleway', Arial, sans-serif;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.info-link:hover,
.info-link:focus {
  color: var(--pressed-state);
}

.hero {
  background-image: url(./img/hero/wepik.jpg);
  max-width: 1440px;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 769px) {
  .hero {
    background-image: url(./img/hero/wepik.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url(./img/hero/wepik.jpg);
  }
}

@media screen and (max-width: 428px) {
  .hero {
    background-image: url(./img/hero/wepik.jpg);
  }
}

.hero {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 80px 0;
}

@media screen and (min-width: 479px) {
  .hero {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 112px 0;
  }
}

.hero-title {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 479px) {
  .hero-title {
    color: #ffffff;
    max-width: 320px;
    font-family: Montserrat;
    font-weight: 700;
    text-align: left;
    margin-left: 50px;
    letter-spacing: 0.02em;
    max-width: 600px;
    margin-bottom: 6px;
    font-size: 68px;
    line-height: 1.07;
  }
}


@media screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 6px;
  }
}

.hero-paragraf {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.03em;
  text-align: center;

}

@media screen and (min-width: 479px) {
  .hero-paragraf {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.03em;
    text-align: left;
    margin-left: 50px;

  }
}




.heri-button,
.button {
  text-align: center;
  display: block;
  min-width: 150px;
  height: 50px;
  border: none;
  border-radius: 10px;
  /* margin-left: auto;
  margin-right: auto; */
  padding: 1px 10px;
}

@media screen and (min-width: 479px) {

  .heri-button,
  .button {
    text-align: center;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 10px;
    /* margin-left: auto;
  margin-right: auto; */
    padding: 10px 16px;
  }
}


.hero-button,
.button {
  text-align: center;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 10px;
  padding: 10px 16px;
}

@media screen and (min-width: 479px) {

  .hero-button,
  .button {
    text-align: center;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 10px;
    /* margin-left: auto;
  margin-right: auto; */
    padding: 10px 16px;
  }
}



.hero-button {
  background: -webkit-linear-gradient(90deg, #0eeaed, #ce51d7, #3dacdb);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(90deg, #33d6d9, #ce5cd6, #209ed4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: var(--accent);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color var(--animation);
  margin: auto;
  margin-top: 20px;

}

@media screen and (min-width: 479px) {
  .hero-button {
    background: -webkit-linear-gradient(90deg, #0eeaed, #ce51d7, #3dacdb);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(90deg, #33d6d9, #ce5cd6, #209ed4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: var(--accent);
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color var(--animation);
    margin-left: 50px;
    margin-top: 30px;

  }
}

.heri-button {
  display: flex;
  align-items: center;
  background: -webkit-linear-gradient(90deg, #0eeaed, #ce51d7, #3dacdb);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(90deg, #33d6d9, #ce5cd6, #209ed4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: var(--accent);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color var(--animation);

  margin-top: 15px;
  text-decoration: none;
}

@media screen and (min-width: 479px) {
  .heri-button {
    display: flex;
    align-items: center;
    background: -webkit-linear-gradient(90deg, #0eeaed, #ce51d7, #3dacdb);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(90deg, #33d6d9, #ce5cd6, #209ed4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: var(--accent);
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color var(--animation);

    margin-top: 30px;
    text-decoration: none;
  }
}

.hero-button:hover,
.hero-button:focus {
  background: -webkit-linear-gradient(90deg, #089fa1, #a109ac, #0b88be);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(90deg, #0cbec1, #bb1dc6, #0d85b8);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.heri-button:hover,
.heri-button:focus {
  background: -webkit-linear-gradient(90deg, #089fa1, #a109ac, #0b88be);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(90deg, #0cbec1, #bb1dc6, #0d85b8);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo {
  width: 150px;
  height: auto;
  display: block;
  /* margin: 0 auto; */

}

/* ////////////////////////////////////// */
.section-onen {
  padding: 35px 20px;
}

.atom-list {
  display: flex;
  align-items: center;
}


.itom {
  color: #000000;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.03em;

}

.iconka-itoma {
  display: flex;
  align-items: center;
  gap: 25px;
}

.black {
  background-color: rgb(160, 15, 139);
  height: 1px;
  margin-top: 8px;
  width: 100%;

}

.blocka {
  background-color: rgb(160, 15, 139);
  height: 1px;
  margin-top: 40px;
  width: 100%;

}

.block {
  background-color: rgb(141, 199, 215);
  height: 1px;
  margin-top: 10px;
  width: 100%;

}

/* ////////////////////////// */
@media screen and (max-width: 428px) {
  .rubrik-list {
    display: flex;
    gap: 40px;
    margin-top: 60px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-right: 35px;
  }
}


@media screen and (min-width: 429px) {
  .section-thoo {

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.katalog-bool {
  color: #270817;
  font-size: 40px;
  font-family: Montserrat;
  line-height: 1.55;
  background-position: center;
  border-color: transparent;
  border-style: solid;
  text-align: center;
  margin-bottom: 65px;
  margin-top: 30px;
}

@media screen and (max-width: 428px) {
  .footer-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 428px) {
  .footer-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
}

@media screen and (max-width: 429px) {
  .footer-nomer {
    display: flex;
    gap: 6px;
    flex-wrap: nowrap;
    padding-top: 30px;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    padding-left: 5px;
  }
}


.rubrik-list {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  gap: 40px;
  margin-top: 60px;
}

.rubrik-foto1 {
  cursor: pointer;
  justify-content: center;
  align-items: stretch;
  display: flex;
  width: 300px;
  height: 140px;
  background-color: #ffcfdd;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.rubrik-foto2 {
  cursor: pointer;
  display: flex;
  width: 300px;
  height: 140px;
  background-color: #9af9d3;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.rubrik-foto3 {
  cursor: pointer;
  display: flex;
  width: 300px;
  height: 140px;
  background-color: #8793ed;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.rubrik-foto4 {
  cursor: pointer;
  display: flex;
  width: 300px;
  height: 140px;
  background-color: #ffcfdd;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.rubrik-foto5 {
  cursor: pointer;
  display: flex;
  width: 300px;
  height: 140px;
  background-color: #9af9d3;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.rubrik-foto6 {
  cursor: pointer;
  display: flex;
  width: 300px;
  height: 140px;
  background-color: #8793ed;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.rubrik-foto7 {
  cursor: pointer;
  display: flex;
  width: 300px;
  height: 140px;
  background-color: #ffcfdd;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.rubrik-foto8 {
  cursor: pointer;
  display: flex;
  width: 300px;
  height: 140px;
  background-color: #9af9d3;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.rubrik-foto9 {
  cursor: pointer;
  display: flex;
  width: 300px;
  height: 140px;
  background-color: #8793ed;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.rubrik-foto10 {
  cursor: pointer;
  display: flex;
  width: 300px;
  height: 140px;
  background-color: #ffcfdd;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.rubrik-foto11 {
  cursor: pointer;
  display: flex;
  width: 300px;
  height: 140px;
  background-color: #9af9d3;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

html {
  scroll-behavior: smooth;
}

.rubrik-foto12 {
  cursor: pointer;
  display: flex;
  width: 300px;
  height: 140px;
  background-color: #8793ed;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.block-text {
  margin-top: 45px;
  color: #100f0f;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.19;
  letter-spacing: -.04em;
  text-align: center;
  width: 185px;
  margin-left: 5px;
  text-decoration: none;
}

.block-texti {
  margin-top: 60px;
  color: #100f0f;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.19;
  letter-spacing: -.04em;
  text-align: center;
  width: 185px;
  margin-left: 5px;
  text-decoration: none;
}

.block-foto {
  margin-top: 10px;
}

.block-info {
  /* width: 150px; */
  text-align: center;
  /* margin-bottom: 20px; */
  /* padding-top: 15px; */
}

/* /////////////////// */
/* .section-prace {
  padding: 40px 0;
} */

.section-prace {
  padding-bottom: 60px;
  padding-top: 20px;

}


@media screen and (min-width: 429px) and (max-width: 1199px) {
  .price-foto {
    margin-left: -15px;
  }
}


.prace {
  /* margin-left: 40px; */
  display: flex;
  height: 410px;
  background: linear-gradient(90deg, #8bdcf0, #ec89dd, #a1bcdd);
}

@media screen and (max-width: 429px) {
  .prace {
    display: flex;
    height: 450px;
    background: linear-gradient(90deg, #8bdcf0, #ec89dd, #a1bcdd);
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.btn-price {
  background: linear-gradient(90deg, #379192, #d76ede, #1f95cb);
  color: var(--accent);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color var(--animation);
  margin-left: 50px;
  margin-top: 30px;
}

.prase-text {
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.04em;
  font-family: Montserrat;
  font-size: 50px;
  color: #fefefe;
}

@media screen and (min-width: 479px) {
  .prase-text {
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.04em;
    font-family: Montserrat;
    font-size: 90px;
    color: #fefefe;
  }
}

.price-text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  margin-bottom: 40px;
}

@media screen and (min-width: 479px) {
  .price-text {
    margin-left: 20px;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
  }
}

.prase-parag {
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.04em;
  font-family: Montserrat;
  font-size: 26px;
  color: #fefefe;
}

@media screen and (min-width: 479px) {
  .prase-parag {
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.04em;
    font-family: Montserrat;
    font-size: 48px;
    color: #fefefe;
  }
}

.btn-price {
  text-align: center;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 10px;
  /* margin-left: auto;
    margin-right: auto; */
  padding: 10px 16px;
}



/* ///////////////////////// */
.section-inform {
  padding-top: 15px;
}

@media screen and (max-width: 478px) {
  .sliade {
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 479px) {
  .sliade {
    display: flex;
    width: 100%;
    overflow: hidden;

  }
}

.sliad-oter {
  border-radius: 20px;
  max-width: 300px;
}

@media screen and (min-width: 479px) {
  .sliad-oter {
    border-radius: 20px;
    max-width: 330px;
    /* margin-left: 40px; */
  }
}

.sliade img {
  display: block;
  width: 100%;
  height: auto;
}

.sliader-info {
  padding-top: 15px;
}

@media screen and (min-width: 479px) {
  .sliader-info {
    margin-bottom: 30px;
    margin-left: 120px;
  }
}

.ingo {
  color: #000000;
  font-size: 35px;
  font-family: Montserrat;
  line-height: 1.55;
  font-weight: 700;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  text-align: center;
}

@media screen and (min-width: 479px) {
  .ingo {
    color: #000000;
    font-size: 56px;
    font-family: Montserrat;
    line-height: 1.55;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    margin-left: 390px;
  }
}

.ingo-parag {
  color: #4c4b4b;
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 700;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  text-align: center;
}

@media screen and (min-width: 479px) {
  .ingo-parag {
    color: #4c4b4b;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    margin-left: 390px;
  }
}


.info-glavn {
  color: #1d1c1c;
  font-size: 22px;
  font-family: Montserrat;
  font-weight: 700;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  line-height: 29px;

  width: 340px;
  margin-top: 25px;
  text-align: center;
}

@media screen and (min-width: 479px) {
  .info-glavn {
    color: #1d1c1c;
    font-size: 34px;
    font-family: Montserrat;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    line-height: 36px;
    margin-left: 160px;
    width: 470px;
    margin-top: 25px;
    text-align: end;
  }
}

.paragrafi {
  color: #000000;
  font-size: 20px;
  font-family: Montserrat;
  line-height: 1.55;
  font-weight: 500;
  background-position: center center;
  border-color: transparent;
  border-style: solid;

  margin-top: 15px;

}

@media screen and (min-width: 479px) {
  .paragrafi {
    color: #000000;
    font-size: 26px;
    font-family: Montserrat;
    line-height: 1.55;
    font-weight: 500;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    margin-top: 15px;
    text-align: end;
  }
}

/* //////////////////// */


















/* ///////////////////////////// */
.footer {
  padding: 50px 0;
  background: -webkit-linear-gradient(90deg, #c2e8e9, #dda9e1, #9ed1e7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(90deg, #b4f1f2, #e7b7ea, #84cdef);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+  */
}

.footer-nav {
  display: flex;
  gap: 20px;
}


.footer-zaglav {
  color: #000000;
  font-family: Montserrat;
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 600;
}

@media screen and (min-width: 479px) {
  .footer-zaglav {
    color: #000000;
    font-family: Montserrat;
    font-size: 30px;
    text-align: left;
    margin-bottom: 10px;
    font-weight: 600;
  }
}



.par-footer {
  color: #000000;
  font-family: Montserrat;
  font-size: 16px;
  text-align: center;
  line-height: normal;

}

@media screen and (min-width: 479px) {
  .par-footer {
    color: #000000;
    font-family: Montserrat;
    font-size: 20px;
    text-align: left;
    line-height: normal;

  }
}

/* .footer-info {
  padding-left: 90px;

} */


.footer-tel {
  color: #000000;
  font-family: Montserrat;
  font-size: 15px;
  text-align: center;
  line-height: normal;
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 8px;
}

@media screen and (min-width: 479px) {
  .footer-tel {
    color: #000000;
    font-family: Montserrat;
    font-size: 19px;
    text-align: left;
    line-height: normal;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.footer-op {
  color: #000000;
  font-family: Montserrat;
  font-size: 16px;
  display: flex;
  line-height: normal;
  margin-top: 5px;
}


@media screen and (min-width: 479px) {
  .footer-op {
    color: #000000;
    font-family: Montserrat;
    font-size: 19px;
    text-align: left;
    display: flex;
    line-height: normal;
    margin-top: 5px;
  }
}



.footer-icons {
  margin-top: 20px;
  text-align: center;
  margin-right: 40px;

}

@media screen and (min-width: 479px) {
  .footer-icons {
    margin-top: 96px;
    text-align: center;
    margin-right: 40px;

  }
}

.nav-item {
  font-size: 18px;
  color: #000000;
  font-family: Montserrat;
  line-height: normal;
  font-weight: 500;
}



@media screen and (min-width: 479px) {
  .nav-item {
    font-size: 21px;
    color: #000000;
    font-family: Montserrat;
    line-height: normal;
    font-weight: 500;
  }
}

@media screen and (min-width: 479px) {
  .footer-nomer {
    display: flex;
    gap: 8px;
    flex-wrap: nowrap;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 150px;
  }
}

.iconsi {
  gap: 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

@media screen and (min-width: 430px) {
  .iconsi {
    gap: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.footer-pidpus {
  color: #000000;
  font-family: Montserrat;
  font-size: 22px;
  margin-bottom: 10px;
  text-align: center;
  margin-left: 30px;
}

@media screen and (min-width: 430px) {
  .footer-pidpus {
    color: #1b1a1a;
    font-family: Montserrat;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 30px;
  }
}






/* ///////////////////////modal windiw///// */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  transition: opacity var(--anim-fas), visibility var(--anim-fas);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

}

.modal {
  background: -webkit-linear-gradient(90deg, #47f2f5, #ce5cd6, #4db4e0);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(90deg, #47f2f5, #ce5cd6, #4db4e0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+  */
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 72px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  width: 408px;
  min-height: 500px;
  transform: translate(-50%, -50%);
  transition: transform var(--animation) cubic-bezier(0.4, 0, 0.2, 1),
    opacity var(--animation) cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 10px;
  /* background-color: #ff60f9; */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 391px) {
  .modal {
    width: 90%;
  }
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .modal {
    max-height: 90vh;
    overflow-y: scroll;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding: 60px 30px 30px 30px;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form-label {
  display: block;
  text-align: left;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  margin-bottom: 1px;
  color: #090909;
  margin-top: 10px;
}

.contact-form-one {
  position: relative;
  margin-bottom: 8px;
  margin-top: 10px
}

.input-name {
  width: 100%;
  height: 35px;
  border-radius: 4px;
  padding-left: 38px;
  padding-right: 38px;
  transition: border-color var(--anim-fas);
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: 1px solid transparent;
}

.input-name:focus {
  border-color: #eb0edc;
}

.input-name:focus+.icon-input {
  fill: #f114f9;
}

.contact-form-label-comment {
  display: block;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  color: #8e8f99;
}

.contact-form-maccenger {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  outline: 1px solid transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: outline-color var(--anim-fas);
}

.contact-form-info {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 0px;
  margin-bottom: 24px;
}

.btn.btn-send {
  display: block;
  margin: 0 auto;
  width: 160px;
  height: 45px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #f5f1f3;
  background-color: #4597f2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  transition-property: bacground-color;
  transition: background-color var(--anim-fas);
}

.btn.btn-send:hover,
.btn.btn-send:focus {
  background-color: #5480f0;
}

.modal-btn {
  position: absolute;
  top: 28px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 50%;
  background-color: #f7f2f6;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color var(--anim-fas), color var(--anim-fas);
  cursor: pointer;
  border: none;
}

.modal-btn:hover,
.modal-btn:focus {
  color: #E7E9FC;
  background-color: #338cd4;
}

.icon-input {
  position: absolute;
  top: 17%;
  left: 16px;
  fill: #2E2F42;
  pointer-events: none;
  transition: fill var(--anim-fas);
}

.icon-input:hover,
.icon-input:focus {
  fill: #2E2F42;
}

.text-saglav {
  text-align: center;
  font-size: 28px;
  color: #21243d;
  line-height: 1.3;
  font-family: Hind, sans-serif;
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
  font-style: normal;
  letter-spacing: .048em
}

.input-checkbox-text {
  font-size: 14px;
  color: #000000;
  font-family: Montserrat;
}

/* .section-inform {
  background: -webkit-linear-gradient(90deg, #47f2f5, #ce5cd6, #4db4e0);
  /* Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(90deg, #47f2f5, #ce5cd6, #4db4e0); */
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

/* //////////////////////////////////////////// */
.groop {
  padding-top: 20px;
  padding-bottom: 90px;
}


@media screen and (min-width: 479px) {
  .groop {
    padding-top: 96px;
    padding-bottom: 120px;
  }
}

.flex-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  margin-left: 10px;
}

@media screen and (min-width: 376px) and (max-width: 478px) {
  .flex-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    margin-left: 35px;
  }
}

@media screen and (min-width: 479px) {
  .flex-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
  }
}

.flex-portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: calc((100% - 2 * 24px)/3);
}

.portfolio-block {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0);
}

.overlay {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: linear-gradient(90deg, rgb(168, 245, 246), rgb(233, 173, 237), rgb(117, 192, 227));
}

.paragraf-overlay {
  color: #121213;
  top: 40px;
  left: 32px;
  padding-bottom: 164px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.portfolio-info {
  /* padding: 17px 1px; */
  padding-top: 17px;
  border: 1px solid #252732;
  border-top: none;
  width: 260px;
  padding-bottom: 10px;
  height: 70px;
  border-radius: 15px;
}

.portfolio-type {
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: var(--dark);
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 8px;
  text-align: center;
}

.portfolio-platform {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  text-decoration: none;
}

.groop {
  background: linear-gradient(90deg, #d6f8f9, #ebcced, #cafafa);
}

.katalog-button {
  background: linear-gradient(90deg, #33d6d9, #ce5cd6, #209ed4);
  color: var(--accent);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color var(--animation);
  margin-left: 65px;
  /* margin-top: 30px; */
}

@media screen and (max-width: 768px) {
  .logo-lings {
    margin-right: 100px;

  }
}

/* @media screen and (max-width: 768px) and (max-width: 1157px) {
  .logo-lings {
    margin-right: 100px;
  }
} */



@media screen and (max-width: 428px) {
  .address {
    display: none;
  }
}

@media screen and (max-width: 391px) {
  .modal {
    width: 90%;
  }
}

@media screen and (max-width: 478px) {
  .modal {
    max-height: 90vh;
    overflow-y: scroll;
    position: absolute;




  }
}


@media screen and (max-width: 428px) {
  .atom-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
  }
}

@media screen and (max-width: 428px) {
  .iconka-itoma {
    display: flex;
    align-items: center;
    padding-right: 20px;
  }
}

@media screen and (max-width: 428px) {
  .section-onen {
    padding-top: 10px;
  }
}




/* mobil */





/* 
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  background: #bb1dc6;

}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.hamb {
  display: none;
}

.popup {
  display: none;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.menu>li>a {
  text-decoration: none;
}

.navbar__wrap .menu {
  display: flex;
}

.navbar__wrap .menu>li {
  display: flex;
  align-items: stretch;
}

.navbar__wrap .menu>li>a {
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: rgba(255, 255, 255, 0.7);
}

.navbar__wrap .menu>li>a:hover {
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 1000px) {
  .navbar__wrap .menu {
    display: none;
  }

  .hamb {
    display: flex;
    align-items: center;
  }

  .hamb__field {
    padding: 10px 20px;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #fff;
    transition: 0.2s;
  }

  .popup {
    position: fixed;
    top: 75px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }

  .popup.open {
    left: 0;
  }

  .popup .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 50px 0;
    overflow: auto;
  }

  .popup .menu>li {
    width: 100%;
  }

  .popup .menu>li>a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #3f3f3f;
  }

  .popup .menu>li>a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }

  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  body.noscroll {
    overflow: hidden;
  }
} */